################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConstructionOps.API/FileContentIndex/4f1c0d91-66c8-4e8b-950c-bed807635402.vsidx
/.vs/ConstructionOps.API
