################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConstructionOps.API/FileContentIndex/4f1c0d91-66c8-4e8b-950c-bed807635402.vsidx
/.vs/ConstructionOps.API
/bin/Debug/net8.0
/obj/Debug/net8.0/EndpointInfo/ConstructionOps.API.json
/obj/Debug/net8.0/EndpointInfo
/obj/Debug/net8.0/ref
/obj/Debug/net8.0/refint
/obj/Debug/net8.0/staticwebassets
*.json
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/Construc.C54FBA57.Up2Date
/obj/Debug/net8.0/ConstructionOps.API.AssemblyInfo.cs
/obj/Debug/net8.0/ConstructionOps.API.AssemblyInfoInputs.cache
/obj/Debug/net8.0/ConstructionOps.API.csproj.BuildWithSkipAnalyzers
/obj/Debug/net8.0/ConstructionOps.API.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/ConstructionOps.API.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/ConstructionOps.API.dll
/obj/Debug/net8.0/ConstructionOps.API.genruntimeconfig.cache
/obj/Debug/net8.0/ConstructionOps.API.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net8.0/ConstructionOps.API.MvcApplicationPartsAssemblyInfo.cs
/obj/Debug/net8.0/ConstructionOps.API.pdb
/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/obj/Debug/net8.0/ConstructionOps.API.AssemblyInfo.cs
/obj/Debug/net8.0/ConstructionOps.API.AssemblyInfoInputs.cache
/.vs/ConstructionOps.API/v17/.suo
/.vs/ConstructionOps.API/v17/DocumentLayout.backup.json
/.vs/ConstructionOps.API/v17/DocumentLayout.json
/.vs/ConstructionOps.API/FileContentIndex/dc8620cc-5cc0-48d2-9fe8-fc9415653694.vsidx
